.am-text-right{width: 96%}
p{word-wrap: break-word;word-break: break-all;}
.am-btn{
  padding: .5em 1em;
  border-radius: 2px;
}
.header{margin:0 auto;width:94%;max-width:900px}
body {
  height: 100%;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
a {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.gedan-box .gedan-f{float: left;}
.am-padding-vertical{max-width: 960px;margin:0 auto;float: none}
section .wrapper-con{
  margin: 0 auto;
}
.about {
  background: #fff;
}
.about-color {
  color: #34495e;
}
.about-title {
  font-size: 180%;
  text-align: center;
}
.title{font-size: 30px;margin: 20px 0 8px;}
body {color: #212121;line-height: 1.8;}
.am-panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05)}
.am-panel-hd {
  padding: .6rem 1.25rem;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px
}


.aim-menu{font-size: small;}
.share{text-align: center;margin: -20px 0 18px 0;}
.qzone,.haoyou{cursor: pointer;margin:6px;}
.icon-rise,.icon-fall{float: right;color: #999}
.music-list{margin: 0;}
.music-list li a:hover{color: #095f8a}

.am-panel-bd {padding: 1.25rem}
.am-panel-default {border-color: #ddd}
.am-panel-default > .am-panel-hd {
  color: #444;
  background-color: #f5f5f5;
  border-color: #ddd
}
.main {
  margin: 60px 0;
}
.music-tabs > li > a {
  padding: 0.5em 1em;
  cursor: pointer;
}
.music-main {
  display: none;
}
.music-main input {
  text-overflow: ellipsis;
}
.music-main input:focus,
.music-main input:hover {
  background: #eee;
  border-color: #ccc;
  color: #222;
}
.music-type .am-radio-inline,
.music-type label {
  color: #7f8c8d;
}
.music-type .am-icon-unchecked,
.music-type .am-icon-checked {
  color: #0e90d2;
}
.music-tips {
  margin-top: 50px;
}
.music-tips blockquote {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 14px;
  margin-top: 30px;
}
.music-tips p span {
  display: inline-block;
  min-width: 50px;
}
.music-tips p b {
  font-weight: 500;
  color: #c7254e;
}
.music-overflow {
  max-height: 200px;
  overflow: hidden;
}
.music-more {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #666;
  background: #eee;
  cursor: pointer;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.footer p {
  color: #7f8c8d;
  margin: 0;
  padding: 15px;
  text-align: center;
  background: #2d3e50;
}
.footer p a {
  color: #7f8c8d;
}
.footer p a:hover {
  color: #bbb;
}
.footer a {
  text-decoration: underline;
}
.am-alert {
  display: none;
}
.am-popup-bd {
  height: 100%;
}
.am-alert-secondary p{margin:0;}
.aplayer {
  padding: 10px !important;
  margin: 0 !important;
  border: 1px solid #ccc;
}
.aplayer .aplayer-info .aplayer-music .aplayer-title,
.aplayer .aplayer-info .aplayer-music .aplayer-author {
  font-size: 16px !important;
  color: #555 !important;
}

.aplayer .aplayer-list ol li .aplayer-list-index {
  display: inline-block;
  width: 20px;
  text-align: right;
}
.aplayer .aplayer-lrc p {
  color: #0e90d2 !important;
}
.aplayer .aplayer-more {
  position: relative;
  font-size: 12px;
  padding: 8px 10px;
  margin-top: 10px;
  text-align: center;
  color: #888;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}
.aplayer .aplayer-more:hover,
.aplayer .aplayer-more:active {
  color: #0e90d2;
}

.aplayer.aplayer-withlrc .aplayer-pic {
  width: 120px !important;
  height: 120px !important;
  -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .5);
}
.aplayer.aplayer-withlrc .aplayer-info {
  margin-left: 120px !important;
  height: 120px !important;
}
.aplayer.aplayer-withlist .aplayer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 0 !important;
}
.aplayer.aplayer-withlist .aplayer-list {
  height: auto !important;
  padding-top: 20px;
  -webkit-transition: none;
  transition: none;
}
.aplayer.aplayer-withlist .aplayer-list-hide {
  padding: 0;
}
.music-list{padding-right: 2em;}
.aim-topbar-nav{padding-left: 0!important;margin: 0!important}
.am-popup{left: 50%;top: 50%;width: 340px;height: 300px;z-index: 1110;margin-left: -170px;margin-top: -150px;}
.gzhimg{text-align: center}
.gzhimg img{width: 100%;max-width: 700px}


@media (min-height: 630px) and (min-width: 630px){
    .am-popup{width: 540px;height: 360px;left: 50%;top: 50%;margin-left: -270px;margin-top: -140px;"}

}
@media screen and (min-width: 760px){
  .music-list li{float: left;width: 50%;padding: 0 1em}
  section{padding-bottom: 15px}
}