*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
.fl{
    float:left;
}
.fr{
    float: right;
}
ul,li{
    list-style:none;
}
.disFlex{
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box; /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; /* 混合版本语法: IE 10 */
	display: -webkit-flex; /* 新版本语法: Chrome 21+ */
	display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
.flex1{
	flex: 1;
	-webkit-flex:1;
	-moz-flex: 1;
}
.spaceBetween{
	justify-content: space-between;
}
.commonBg{
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.posLeftCenter{
   position: absolute;
   left: 50%;
   transform: translate(-50%,0);
   -webkit-transform: translate(-50%,0);
   -moz-transform: translate(-50%,0);
}
