.query-hd{
    font-size: 14px;
    color:#666;
    line-height: 30px;
    padding:24px 0 0;
    font-family:'Microsoft Yahei';
}
.query{
    color:#666;
    font-size: 16px;
    line-height: 30px;
    font-family:'Microsoft Yahei';
    font-weight: normal;
    margin-bottom: 10px;
}
.result{
    line-height: 30px;
    color:#3b5999;
    font-size:14px;
    font-family:'Microsoft Yahei';
    padding-left:14px;
    *padding-left:0;
    position: relative;
}
.result:before{
    width: 5px;
    height: 5px;
    background: #6882b9;
    position: absolute;
    top: 12px;
    left: 3px;
    content: ' ';
}