dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,img,input,label,ol,p,textarea,ul{margin:0;padding:0;border:0;font-weight:400;vertical-align:baseline;font-family:inherit;font-style:inherit;outline:0}
body{width:100%}
.am-btn{padding:.5em 1em;border-radius:2px}
.am-topbar-inverse .am-topbar-nav>li>a{font-family:arial;font-weight:600;font-size:16px}
.am-topbar{margin-bottom:0}
.header{margin:0 auto;width:94%;max-width:900px}
.wrapper{margin:auto;min-width:360px;width:95%;margin:0 auto}
.nav{height:64px}
.nav p{text-align:center;line-height:64px;font-size:25px;font-weight:600;color:#0e90d2}
.wrapper after,.wrapper:before{content:"";display:block;clear:both}
.clear::after{clear:both;display:table;content:" "}
.container{margin:0 auto}
.cnt-t span{color:#FE8B1F;display:block;text-align:center;font-size:16px}
.cnt-t2 iframe{background:#66ceff;height:520px;width:100%;margin:0 auto}
.form-control{display:block;height:34px;font-size:16px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;position:relative;z-index:2;width:100%;margin:0 auto;margin-bottom:0}
.input-lg{height:42px;line-height:1.3333333;border-color:#0e90d2;-webkit-appearance:none}
select{cursor:default;-webkit-appearance:menulist}
select.input-lg{text-align:left;text-align-last:left;text-indent:.5em;height:42px;outline-style:none;-webkit-appearance:none;border-color:#0e90d2;border-radius:0;font-size:16px}
select.input-lg:hover{background:#e6e6e6}
.cnt-3-1,.cnt-3-2,.cnt-3-3{border-color:#66ceff;padding-bottom:5px}
.cnt-3-1 select,.cnt-3-2 input,.cnt-3-3 button{border-radius:5px}
.cnt-3-2 input{text-indent:.5em}
.btn{display:inline-block;margin-bottom:0;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;color:#FFF;background:#0e90d2;outline-style:none;display:#000;height:42px;font-size:18px;line-height:1.3333333;width:100%}
.cnt-3{margin-bottom:15px}
.foot{text-align:center}
.foot a{text-decoration:none}
.foot p{text-align:center;padding-top:10px;padding-bottom:10px}
@media screen and (min-device-width:1000px){.wrapper{width:70%;margin:0 auto}
.cnt-3-1,.cnt-3-2,.cnt-3-3{border-color:#66ceff;float:left}
.cnt-3-2 input{text-indent:.5em}
.cnt-3-1{width:17%}
.cnt-3-2{width:70%;padding-left:3%;padding-right:3%}
.cnt-3-3{width:13%}
select.input-lg{text-align:center;text-align-last:center}}
@media screen and (max-device-width:760px){.wrapper{width:95%;margin:0 auto}.cnt-t2 iframe{height:260px}}