*{padding: 0;margin: 0;box-sizing: border-box;font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Microsoft YaHei', 'PingFang SC','Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell','Fira Sans', 'Droid Sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';}
a{text-decoration: none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
li{list-style: none;}
html{-webkit-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-ms-text-size-adjust: 100%;text-size-adjust: 100%;text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;}
.aim-topbar{min-width: 360px;width: 100%;height: 50px;background-color: #2196f3;border-color: #ddd;position: relative;border-bottom-color: rgba(0,0,0,.1);}
.aim-topbar:before,.aim-topbar:after,.aim-container:before,.aim-container:after{content: " ";clear:both;display: table;}
.aim-header{max-width: 960px;width: 94%;height: 50px;margin: 0 auto;}
.aim-title{padding: 0 15px;line-height: 50px;float: left;}
.aim-title a{font-size: 18px;font-weight: 400;color: #fff;}
.aim-topbar-nav{float: left;line-height: 50px;}
.aim-topbar-nav li{float: left;position: relative;padding:0 10px;}
.aim-topbar-nav .aim-active a{background-color: rgba(0,0,0,.2);}
.aim-topbar-nav li a{color: #fff;padding: 5px;border-radius: 5px}
.aim-topbar-nav li a:hover{background-color: rgba(0,0,0,.2);padding: 5px;border-radius: 5px}

.aim-topbar-right{float: right;line-height: 50px;}
.aim-btn,.aim-menu{padding: 8px 14px;border: none;outline-style: none;background-color: #5eb95e;color: #fff;border-radius: 5px;vertical-align: unset;font-size: unset;}
.aim-btn:hover,.aim-menu:hover{background-color: #4aaa4a}

.aim-container{width: 94%;min-width: 360px;max-width: 960px;margin: 0 auto;}
.aim-container .logo{text-align: center;font-size: 24px;margin: 1.6rem 0;color: #045fb4;font-weight: bold;}
.aim-list li{float: left;padding: 10px;width: 100%;line-height: 1.6;height: 250px}
.aim-panel{text-align: center;}
.aim-panel img{border-radius: 10px;box-shadow: 0 3rem 5rem -2rem rgba(0,0,0,0.2);transition:.1s all ease-in-out;-moz-trnsition:.1s all ease-in-out;-webkit-transtion:.1s all ease-in-out}
.aim-panel img:hover{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-trnsition:scale(1.1)}
.aim-text {padding: 12px 1.6rem;font-size: 12px}
.aim-text a{font-size: 1.4rem;}
.am-text-xl{color: #0e90d2}
.am-text-xl:hover{color:#095f8a}
footer{display: block;padding-bottom: 10px;}
@media only screen and (min-width: 660px){.aim-menu{display: none;}}
@media only screen and (max-width: 660px){.aim-menu{display: block;float: right;margin-top: 8px;}.aim-topbar-nav{width: 100%;display: none;}.aim-topbar-nav li{float: none;text-align: center;background-color: #2196f3;margin: 5px;border-radius: 5px}.aim-btn{display: none;}}
@media only screen and (max-width: 1025px) and (min-width: 661px){.aim-list li{width: 49%;}}
@media only screen and (min-width: 1025px){.aim-list li{width: 33.33%}}