
a{text-decoration: none}
li{list-style: none;}
body{font: "Microsoft YaHei"!important}
footer{padding-bottom: 10px}
.nav-logo{float: left;line-height: 50px;padding-left: 15px;padding-right: 15px}
.am-topbar-inverse .am-topbar-nav>li>a{font-family: "Microsoft YaHei"!important}
.am-topbar-inverse .am-topbar-nav .am-noset a:hover:after{display: none}
.am-topbar .nav-logo{font-family: "微软雅黑";font-weight: 600;font-size: 18px}
.am-topbar-inverse{background-color: #045FB4!important;border-bottom-color: rgba(0,0,0,.1)!important;}
.am-topbar-btn{margin-top: 9.5px !important;}
.am-btn-success:focus, .am-btn-success:hover{outline-style: none!important;}
.am-topbar-inverse .am-topbar-nav>li>a{font-family: arial;font-weight: 500;}
.header{margin:0 auto;width:94%;max-width:960px}
.am-topbar .am-text-ir{display:block;margin-right:10px;width:125px;height:50px;background:url(https://ooo.0o0.ooo/2017/04/28/5902e62e9e8f8.png) no-repeat left center;background-size:125px 24px;-webkit-background-size:125px 24px}

.am-container .logo{text-align: center;font-size: 24px;margin-bottom: 1.6rem;color: #045fb4;font-weight: bold;}

.tool-box{width: 100%;max-width: 900px;margin: 0 auto}
.list-inner .list-lt img{width: 60px}
.list-inner .list-lt h3{display: inline-block;vertical-align: bottom;}


.am-container,.am-topbar{min-width: 360px}


.am-topbar .am-topbar-right .am-btn{padding: 6px 9px}


.am-topbar-right{padding-top: 10px}


.am-panel img{width:3in;border-radius:10px;box-shadow:0 3rem 5rem -2rem rgba(0,0,0,0.2)}
.list li{padding:0}.list .am-panel{margin-bottom:10px;box-shadow:none}
.list .am-panel a:hover>img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-trnsition:scale(1.1)}
.list .am-panel img{transition:.1s all ease-in-out;-moz-trnsition:.1s all ease-in-out;-webkit-transtion:.1s all ease-in-out}


.bg{
background-color: rgba(0,0,0,.1);
background: #045FB4;
background: #5eb95e;
}
body {
	color: #212121;
	font-size: 1pc;
	line-height: 1.8
}

::selection {
	background: #262a30;
	color: #fff
}

a {
	color: #212121;
	-webkit-transition: all .3s
}

*,button {
	outline: none!important
}

.am-topbar {
	margin-bottom: 0
}

.am-topbar-logo {
	margin-right: 10px
}

.am-nav>li.am-active>a {
	cursor: pointer!important
}

.logo {
	padding: 2pc 0;
	color: #0e90d2;
	text-align: center;
	font-size: 30px;
	font-weight: 800
}

.am-modal-hd {
	padding: 15px 10px
}

footer {
	color: #555
}

#go-to-top {
	bottom: 40px;
	right: 40px;
	box-shadow: 0 3px 10px rgba(0,64,128,.2);
	z-index: 9;
	position: fixed;
	display: none;
	cursor: pointer
}

@media only screen and (max-width:640px) {
	.am-topbar-nav {
		text-align: center
	}

	#go-to-top {
		display: none!important
	}
}

#lv-container {
	margin: 0 -5px;
}

#zanzhu li span {
	font-size: 24px
}

#zanzhu img {
	margin: 0 0 -10px 0
}

ins {
	background: transparent
}.aim-topbar-nav{padding-left: 0!important;margin: 0!important}