@charset "utf-8";
/* CSS Document */
@import url(Td.home.v3.css);
/*通用*/
body{background:#ffffff url(../Template/Images/body.gif) repeat-x;font:12px/20px Arial,Verdana,Tahoma,"宋体";}
*{padding:0px;margin:0px;}
* li{list-style:none;}
a img{border:none;}
em{font-weight:normal;font-style:normal;}
.clear{	clear: both;height:0px;display:block;*display:inline;}
a{text-decoration:none;color:#20537A;}/*behavior:url(select.htc);hide-focus: expression( this.hideFocus=true );outline: none;*/
a:hover{text-decoration:underline;}
h3{font-size:14px;}

.input{border:1px solid #AADAFE;width:180px;height:23px;background:#EBF8FF;padding-left:3px;line-height:23px;color:#2866A3;font-weight:bold;} 
.input.tk{width:13px;height:13px;margin-top:10px;border:none;background:none;}
.input.tj{width:81px;height:35px;border:none;margin-left:130px;background:url(http://img.imgzhubajie.com/img/reg2/login_tj.gif) no-repeat;}


/*FOOTER
-----------------------------------------------------------------------------------------------------------------*/
#foot{clear:both;margin:0 auto;width:960px;text-align:center;padding:10px 0;font-family:"宋体"}

/*专题列表*/

.zt_box{width:958px;border:1px solid #c8E6FF;}
.zt_box ul.zt_title{height:28px;line-height:28px;background:#EEF9FF;width:100%;}
.zt_box ul.zt_title li{margin-left:10px;padding:0px 10px;height:28px;float:left;color:#2F64B7;}
.zt_box ul.zt_title li a{display:block;color:#2F64B7;}
.zt_box ul.zt_title li a:hover{background:#fff;}
.zt_box ul.zt_title li.currently{background:#fff;font-weight:bold;}
.zt_box ul.zt_list{padding:14px;display:block;float:left;}
.zt_box ul.zt_list li{width:93px;height:23px;overflow:hidden;float:left;text-align:center;color:#285080;}
.zt_box ul.zt_list li a{color:#285080;}
.zt_box ul.links li{width:77.5px;}

.tr1 TD {
	PADDING-RIGHT: 0.1em; PADDING-LEFT: 0.1em; PADDING-BOTTOM: 0.1em; PADDING-TOP: 0.1em; BORDER-BOTTOM: #e1e0d7 1px dotted; 
}
.tr2 TD {
	PADDING-RIGHT: 0.1em; PADDING-LEFT: 0.1em; PADDING-BOTTOM: 0.1em; PADDING-TOP: 0.1em; BORDER-BOTTOM: #e1e0d7 1px  solid
}

/*pages*/
.pages{float:left;border:1px solid #e1e0d7;height:24px;line-height:24px;margin:2px 5px 3px 0;}
.pages ul{padding:0; margin:0}
.pages ul li{list-style:none;float:left;}
.pages ul li a{display:block;padding:0 7px 0 7px; color:#000000}
.pages ul li b{padding:0 5px 0 9px;background:#f7fadd;display:block;color:#FA891B;}
.pages ul li a:hover{background:#f7fadd;color:#FA891B;text-decoration:none;}
.pages ul .pagesone{height:24px;_height:23px;margin-left:5px;border-left:1px solid #e1e0d7;padding-left:6px;padding-right:6px;background:#fefff3;}
.pages select{border:1px solid #e1e0d7;font:12px/15px Verdana;height:14px;color:#666;margin-right:5px;margin-bottom:3px;*margin-bottom:2px;_margin-top:3px;}


/*cong add*/
.btn1 {width:112px;height:54px;background:url(../img2/btn1_bg.gif) 0px 0px no-repeat;display:block;line-height:40px;font-size:14px;font-weight:bold;color:#000}
a.btn1 {color:#000}

a.btn1_active {color:#fff!important;background-position:0px -54px}
